<html ng-app="app">
<head>
	<link rel="stylesheet" href="stylesheets/style.css">
	<title>Login Page</title>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
</head>

<body>

<form action="/login" method="post"ng-controller="LoginController">
  <p>
    <label class="control-label">Username</label>
  	<input type="text" name="email" ng-model="user.username" />
  </p>
  <p>
    <label class="control-label">Password</label>
  	<input type="password" name="password" ng-model="user.password" /><br/>
  </p>
  <p>
    <button type="submit" class="btn btn-primary">Login</button>
  </p>
</form>



  <!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
<script src="javascripts/controllers.js"></script>

</body>

</html>